@font-face {
    font-family: "fonte titulo";
    src: url('../assets/fonts/Micro5-Regular.ttf');
}

/*Espaço de declaração de variáveis*/
:root{
    --cor-inicial-do-gradiente: orangered;
    --cor-final-do-gradiente: white;
    --cor-de-fundo-geral: black;
    --nome-da-fonte: "fonte titulo";

}

/*Ajustando as configurações do corpo do texto*/
.corpoText {
   font-size: 1em;
   text-align: justify;
   justify-content: center;
   align-items: center;
}

/*Ajustando as configurações da imagem principal*/
.about-image {
   margin-top: 10dvh;
   width: 20dvw;
   height: 20dvw;
   border-radius: 50%;
   margin-left: 15dvw; 
}

/*Ajustando as configurações do corpo da página*/
body {
    width: 99dvw; /* Definindo largura de modo que a página não cresça a ponto de gerar uma side bar*/
    display: flex;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Alinha o conteúdo ao centro vertical e horizontalmente */
    text-align: center;
    background-color: white;
    color: var(--cor-de-fundo-geral); /*uso de váriáveis dentro do css*/
    font-family: var(--nome-da-fonte);
    font-size: 2vw; /* Usar unidade relativa para o tamanho de fonte */
}

/*Ajustando as configurações de alguns elementos de texto da página*/
h1, h3, span{
    text-align: center;
    justify-content: center;

}

/*Ajustando as configurações das duas seções que ficarão localizados os gradientes início*/
#education, #experience{
    display: flex;
    width: auto;
}

#education {
    background: linear-gradient(to top, var(--cor-inicial-do-gradiente), var(--cor-final-do-gradiente)); /* Gradiente de cor laranja */
}

#experience {
    background: linear-gradient(to bottom, var(--cor-inicial-do-gradiente), var(--cor-final-do-gradiente)); /* Gradiente de cor laranja */
}
/*Ajustando as configurações das duas seções que ficarão localizados os gradientes fim*/

/*Configurando uma classe que ajustará o título de algumas seções da página*/
.sectionTitle{
    text-align: center;
    size: 3dvw;
}

/*Ajustando as configurações do conteúdo das divs dentro da página*/
div{
    align-content: center;
    justify-content: center;
    text-align: justify;
}

/*uso de uma classe para limitar a largura de alguns elementos da página reduzindo-o para a metade*/
.centralize-text {
    width: 50%;
}

/*Ajustando as configurações das seções da página e do conteúdo interno delas*/
section {
    width: 50%;
    padding: 20px; 
    text-align: justify;
    justify-content: center;
}   

/*Configurando uma classe que ajustará alguns elementos da página dispondo-os em formato de linhas de modo a alinha-los lateralmente*/
.rowElement {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; /* Espaçamento inferior entre as linhas */
}

/*Configurando uma classe que ajustará as figuras inseridas na página*/
.infoIcons {
    height: 4vw; /* Usando unidade relativa para tamanho de ícone */
    padding-right: 2dvw; 
    justify-content: space-between; /*melhorando a disposição das imagens, colocando um espaço entre elas*/
    align-content: center;
}

/*Alterando as configurações de um elemento de listas para melhor manipular os elementos internamente*/
ul{
    padding: 0;
    margin: 0;
    padding-left: 2vw;
}

/*Usei como refenrência a tela do SANSUNG GALAXY S8+*/
/* Media Queries para ajustar o layout em diferentes tamanhos de tela */
@media (max-width: 768px) {
    body {
        font-size: 5vw; /* Ajustando o tamanho da fonte para dispositivos móveis */
        width: 100%;
    }

    /*Ajustando a largura da section*/
    section {
        width: 80%;
    }

    /*Ajustando a largura do texto que ficará dentro da section*/
    .centralize-text {
        width: 95%;
    }

    /*Ajustando as configurações da imagem principal da página*/
    .about-image{
        height: 18dvh;
        width: auto;
        padding: 8vw;
        margin-top: 0;
        margin-block: auto;
    }
    
    ul{
        padding-left: 10dvw;
    }

    /*Ajustando as configurações dos ícones na página*/
    .infoIcons {
        height: 6vw; /* Ajustando o tamanho do ícone para dispositivos móveis */
        margin-bottom: 10px; /* Reduzindo o espaçamento inferior entre os ícones */
        justify-content: center;
        align-items: start;
        padding-left: 0dvw;
    }
}
