@font-face {
    font-family: "fonte titulo";
}

header {
    width: 90dvw;
    height: 10vh;
    background-color: tomato;
    padding: 10px;
    margin: 10px auto; /* Centralizar o header na tela */
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilo do logo */
.logoHeader {
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
}

/* Estilo dos links no menu */
.link {
    text-decoration: none;
    font-family: "fonte titulo"; 
    font-size: 2vw; /* Usando unidade relativa para o tamanho da fonte */
    color: black;
    transition: color 0.3s ease; /* Transição suave de cor ao passar o mouse */
}

.link:hover {
    color: cyan; /* Nova cor ao passar o mouse */
}

/* Estilo da lista de navegação */
.listNavMenu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.listNavMenu li {
    margin: 0 10px; /* Espaçamento entre os itens do menu */
}

/*Ajustando a comportamento da classe especificamente no elemento header*/
header.rowElement {
    justify-content: space-around;
}

/* Configuração e estilização do botão início*/
header button{
    color:white;
  font-family: "fonte titulo";
  font-size:30px;
  text-align: center;
  text-decoration:none;
  background-color:#FFA12B;
  display:block;
  position:relative;
  padding:5px 5px;
  margin-bottom: 20px;
  
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);
  
  -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

header button:active{
    top:10px;
    background-color:#F78900;
    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
    box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
}
/* Configuração e estilização do botão Fim*/

/* Media Queries para ajustar o layout em diferentes tamanhos de tela */
@media (max-width: 768px) {
    header {
        flex-direction: column; /* Muda os links da header deixando-os em uma coluna em telas menores */
        height: auto; /* Altura automática para ajuste de conteúdo */
        text-align: center; /* Centraliza o texto */
    }
    
    /*Ajustando o tamanho da logo para dispositivos menores*/
    .logoHeader{
        height: 20vw;
        width: 20vw;
    }

    .link, .selectedLinkMenu {
        font-size: 4vw; /* Reduz o tamanho da fonte dos links para dispositivos móveis */
    }

    /*Ajustando a lista no menu da navbar*/
    .listNavMenu {
        flex-direction: column;
        margin: 10px 0; /* Ajusta a margem */
    }

    .listNavMenu li {
        margin: 10px 0; /* Espaçamento entre os itens do menu */
    }

    /*Ajustando obotão para dispositivos móveis*/
    header button {
        font-size: 3vw; 
        padding: 8px 16px; 
    }
}
